.jumbotron {
  background-color: #007989;
  text-align: center;
  width: 100%;
  color: #F17677;
}

.col-md-6 .content-img {
  width: 100%;
}

.body {
  background-color: #38ACBC;
}

.col-md-6 h1{
  text-align: center;
}

.row {
  padding: 10px;
}

a {
  color: #F17677;
}

a:hover {
  color: #BC7298;
}
