.jumbotron {
  background-color: #007989;
  text-align: center;
  width: 100%;
  color: #F17677;
}

.col-md-12 h1{
  text-align: center;
}

.row {
  padding: 10px;
}

a {
  color: #F17677;
}

a:hover {
  color: #BC7298;
}

.row a{
  color: #F17677;
}

.row a:hover {
  color: #BC7298;
}
