.jumbotron {
  background-color: #8AA8AA;
  text-align: center;
  width: 100%;
  color: #D8D4B9;
}

.col-md-6 h1{
  text-align: center;
}

.row {
  padding: 10px;
}

a {
  color: #D8D4B9;
}

a:hover {
  color: #856D41;
}
